*{
    margin: 0;
    padding: 0;
}

div {
    width: 100px;
    height: 100px;
    background-color: teal;
    margin: 100px auto;
    transition: width 3s, border-radius 1s, background-color 2s;
}
/* div:hover{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: red;

} */
body{
    background-color: darkkhaki;
}
.box{
    width: 130px;
    border-radius: 10px;
    text-align: center;
    margin: 100px;
}
.box:hover{
    background-color: rgb(255, 255, 255,0.5);
}
.box:hover .ff-box{
    display: block;
}
.box img{
    width: 50px;
    border-radius: 50%;
}
.ff{
    padding: 4px 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255,0.8);
    display: none;
}
.ff-box{
    text-align: end;
    display: none;

}
