*{
  margin: 0;
  padding: 0;
}
ul li{
  display: inline-block;
}
.background{
    background-image: url(./m3.jpg),url(./secondt.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
}

.tlsa {

  color:#171a20;
  /* display: flex; */
  justify-content: space-between;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;

  
}
.model
{
  font-style: normal;
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 40px;
  font-weight: 500px;
  color:#171a20;
  line-height: 40px;
    
}
.newme{
  text-align: center;
}

.bott{
  text-align: center;
  border-radius: 50px;
  padding-bottom: 5px;
  
}
.bta{
  border-radius: 50px;
  width: 250px;
  height: 40px;
  background-color: rgb(58,61,65);
  color: white;
  font-weight: bold;
}

.btb
{
  border-radius: 50px;
  width: 250px;
  height: 40px;
  background-color: rgb(233,233,232);
  }
  .back{
    background: url(./secondt.jpg);
    background-size: cover;
    height:650px;
    background-position: center;
  }