body
{
    background-color: blue;
}

h1{
    color: white;
    text-align: center;
}

 p
{
    font-family: Verdana;
    font-size: 20px;
  color: red;
  text-align: center;

}
#para1
{
    text-align: center;
    color: orange;
}
 .center
{
    text-align: center;
    color: darkgreen;
}
  p.center
{
    text-align:left;
    color:chartreuse
}
li
{
display: inline;
}