li{
    display: inline;
}
span{
    display: block;
}
a{
    display: block;
}
h1.hidden
{
    display: none;
}

div {
    margin: 70px;
    border: 1px solid #4CAF50;
  }

  div {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
  }
  div{
        border: 1px solid black;
        margin: 25px 50px 75px 100px;
        background-color: lightblue;
      }